.header {
    min-height: auto !important;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.content {
    display: flex;
    flex-direction: column;
    gap: 72px;
    padding: 72px 60px;
}
.article_container {
    display: flex;
    gap: 60px;

    .article_wrapper {
        flex: 1;
    }
}
/* .article {
    display: block;

    h1,
    h2,
    h4 {
        font-family: 'Sorts Mill Goudy';
        color: var(--color-caption);
        line-height: 40px;
    }
    p {
        font-size: 16px;
        line-height: 28px;
    }
    h3 {
        font-size: 20px;
        line-height: 30px;
    }

    li {
        line-height: 28px;
        display: flex;
        align-items: flex-start;
        gap: 12px;
        .bullet_star {
            width: 16px;
            height: 16px;
            margin: 6px 0;
        }
    }
} */
@media only screen and (max-width: 768px) {
    .content {
        display: flex;
        flex-direction: column;
        gap: 72px;
        padding: 37px 24px;
    }
    .article_container {
        display: flex;
        gap: 60px;

        .article_wrapper {
            flex: 1;
        }
    }
}
