.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.row {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.column {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 10px;
}
.card {
    width: 400px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.cardHeader {
    padding: 20px;
    text-align: center;
    h4 {
        margin: 0;
        font-size: 24px;
        font-weight: 600;
    }
}
.cardBody {
    padding: 20px;
}
.formGroup {
    margin-bottom: 20px;
}
.formGroup label {
    display: block;
    margin-bottom: 5px;
    font-weight: 600;
}
.input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}
.error {
    color: red;
    font-size: 14px;
    margin-top: 5px;
}
.button {
    width: 100%;
    padding: 10px;
    background-color: var(--color-button-primary-bg);
    border-radius: var(--default-button-border-radius);
    font-size: 16px;
    font-weight: 600;
    color: #000;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
.button:hover {
    background-color: #c99c75;
}
