.container {
    background-color: var(--color-gradient-bg);
    flex: 1;
    border: 1px solid transparent;
    border-color: #cebeb1;
    border-radius: 24px;
    padding: 36px;
    display: flex;
    flex-direction: column;
    cursor: pointer;
    transition: background-color 0.2s;

    &:active {
        background-color: var(--color-card-bg-dark);
    }
    &:active > .title {
        transition: 0.2s;
        color: var(--color-primary-bg);
    }
    &:active > .shortDesc {
        transition: 0.2s;
        color: #cac3bc;
    }
    &:active > .author {
        transition: 0.2s;
        color: #ffffff;
    }
    &:active > .category {
        transition: padding 0.2s;
        padding: 8px 28px;
    }
}

.category {
    font-family: 'Work Sans';
    font-weight: 500;
    font-size: 10px;
    padding: 8px 16px;
    background-color: var(--color-caption);
    align-self: flex-start;
    border-radius: 100px;
    color: var(--color-white);
    transition: padding 0.5s;
    text-transform: uppercase;
}
.title {
    font-family: 'Sorts Mill Goudy';
    font-size: 27px;
    &:hover {
        color: var(--color-caption);
    }
}
.shortDesc {
    font-size: 16px;
    color: var(--color-header-menu-bg);
}

.author {
    font-size: 16px;
    font-weight: 500;
    font-style: italic;
    text-transform: uppercase;
}
