.container {
    flex-grow: 0;
    flex-shrink: 0;
    border-radius: 24px;
    width: 420px;
    border: 1px solid var(--color-border-dark);
    overflow: hidden;
    cursor: pointer;
}

.course_poster {
    width: 100%;
    object-fit: cover;
    aspect-ratio: 420/360;
}
.buy_now_button {
    white-space: nowrap;
    z-index: 9;
}
.course_detail_container {
    width: 100%;
    padding: 24px 36px;
    display: flex;
    flex-direction: column;
    gap: 16px;

    & > h3 {
        font-family: 'Sorts Mill Goudy';
        font-size: 27px;
        &:hover {
            color: var(--color-caption);
        }
    }

    & > p {
        display: flex;
        font-family: 'Work Sans';
        font-size: 24px;
        color: var(--color-caption);
        font-weight: 600;
        align-items: center;
        gap: 12px;
        justify-content: center;

        span {
            text-decoration: line-through;
            font-size: 16px;
            font-weight: 400;
            color: #2c2520b2;
        }
    }
}
@media only screen and (max-width: 768px) {
    .container {
        flex-grow: 0;
        flex-shrink: 0;
        border-radius: 24px;
        max-width: 420px;
        width: 100%;
        border: 1px solid var(--color-border-dark);
        overflow: hidden;
        cursor: pointer;
    }

    .course_poster {
        width: 100%;
        object-fit: cover;
        aspect-ratio: 420/360;
    }
    .buy_now_button {
        white-space: nowrap;
        z-index: 9;
    }
    .course_detail_container {
        width: 100%;
        padding: 24px;
        display: flex;
        flex-direction: column;
        gap: 16px;

        & > h3 {
            font-family: 'Sorts Mill Goudy';
            font-size: 24px;
            &:hover {
                color: var(--color-caption);
            }
        }

        & > p {
            display: flex;
            font-family: 'Work Sans';
            font-size: 24px;
            color: var(--color-caption);
            font-weight: 600;
            align-items: center;
            gap: 12px;
            justify-content: center;

            span {
                text-decoration: line-through;
                font-size: 16px;
                font-weight: 400;
                color: #2c2520b2;
            }
        }
    }
}
