.container {
    border-radius: 24px;
    background-color: var(--color-gradient-bg);
    border: 1px solid transparent;
    border-color: #cebeb1;
    cursor: pointer;
}

.thumbnail_wrapper {
    width: 100%;
    height: 240px;
    border-radius: 24px 24px 0 0;
    position: relative;
    overflow: hidden;

    img {
        border-radius: 24px 24px 0 0;
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        object-fit: cover;
        transition: transform 0.5s ease;

        &:hover {
            transform: scale(1.1);
        }
    }

    p {
        font-size: 10px;
        color: var(--color-white);
        position: absolute;
        top: 36px;
        left: 36px;
        padding: 8px 16px;
        border-radius: 40px;
        background-color: var(--color-caption);
        &:hover {
            background-color: #696460;
        }
    }
}
.content_container {
    padding: 24px 36px;
    gap: 12px;
    display: flex;
    flex-direction: column;

    h2 {
        font-size: 27px;
        font-family: 'Sorts Mill Goudy';

        &:hover {
            color: var(--color-caption);
        }
    }
    p:nth-child(2) {
        color: #2c2520b2;
        font-size: 16px;
    }
    p:nth-child(3) {
        font-style: italic;
        font-size: 16px;
    }
}
