.button {
    width: 100%;
    max-width: 468px; 
    height: 65px;
    min-width: 210px; 
    max-height: 65px; 
    
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px; 
    border-radius: 100px; 
    padding: 24px 48px; 
    color: black;
    font-size: 18px;
    font-weight: bold;
    border: none;
    cursor: pointer;
    transition: background 0.3s ease;
    font-family: "Work Sans"; 
    @media (max-width: 500px) {
      padding: 16px 32px;
      font-size: 16px;
    }
  }
  