.container {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    padding: 20px 0px;
    width: 100%;
    justify-content: center;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
}
.containerHide {
    position: fixed;
    background-color: #00000099;
    z-index: 9999;
    top: 0;
    height: 100vh;
    width: 100%;
}
.mobile_menu_popup {
    position: fixed;
    background-color: #23201d;
    z-index: 99;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 50px 24px;
    gap: 38px;
    display: flex;
    flex-direction: column;

    .heading_wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
        p {
            font-size: 20px;
            font-family: 'Sorts Mill Goudy';
            color: #ffffff;
        }
        img {
            width: 24px;
            height: 24px;
        }
    }
    ul {
        display: flex;
        gap: 36px;
        flex-direction: column;
        li {
            font-size: 16px;
            color: #ffffff;
        }
    }
    .menu_button {
        align-items: center;
        background-color: var(--color-header-menu-bg);
        border: 1px solid var(--color-border-dark);
        border-radius: var(--default-button-border-radius);
        color: var(--color-white);
        display: flex;
        font-weight: 500;
        gap: 4px;
        padding: 14px 20px;

        &:hover {
            background-color: var(--color-border-dark);
            border: 1px solid var(--color-white);
        }
        img {
            width: 18px;
        }
    }
}
@media only screen and (max-width: 768px) {
    .container {
        display: none;
    }
}
