.menu_button_container {
    align-items: center;
    display: flex;
    position: relative;
    border-radius: var(--default-button-border-radius);
}

.menu_button {
    align-items: center;
    background-color: var(--color-header-menu-bg);
    border: 1px solid var(--color-border-dark);
    border-radius: var(--default-button-border-radius);
    color: var(--color-white);
    display: flex;
    font-size: 16px;
    font-weight: 500;
    gap: 4px;
    padding: 16px 28px;

    &:hover {
        background-color: var(--color-border-dark);
        border: 1px solid var(--color-white);
    }
    img {
        width: 18px;
    }
}

.submenu_wrapper {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 9999;
}
.menu_button_container:hover .submenu_wrapper {
    display: block;
}
.submenu_container {
    background-color: var(--color-black);
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    left: 0;
    margin-top: 30px;
    padding: 30px 20px;
    a {
        color: var(--color-white);
        white-space: nowrap;

        &:hover {
            color: var(--color-primary);
        }
    }
}
