.container {
    min-height: auto;
    padding: 0 120px;
    display: flex;
    flex-direction: column;
}

.section_heading {
    color: var(--color-caption);
    font-size: 42px;
    font-family: 'Sorts Mill Goudy', serif;
    font-weight: bold;
}

.section_sub_heading {
    font-size: 18px;
    font-family: 'Work Sans';
    margin-top: 8px;
}

.slides_container {
    width: 100%;
    margin-top: 48px;
    position: relative;

    .slides_wrapper {
        display: flex;
        gap: 40px;
        overflow-x: auto;
        &::-webkit-scrollbar {
            display: none;
        }
        img {
            width: 270px;
            height: 375px;
            cursor: pointer;
        }
    }
    .prev_button {
        left: -60px;
    }
    .next_button {
        right: -60px;

        img {
            transform: rotate(180deg);
        }
    }

    .prev_button,
    .next_button {
        z-index: 9999;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        width: 50px;
        height: 50px;
        background-color: var(--color-button-primary-bg);
        border-radius: var(--default-button-border-radius);
        border: 1px solid transparent;
        cursor: pointer;
        transition: 0.2s;
        border-color: var(--color-border-dark);
        color: var(--color-black);

        &:hover {
            background-color: var(--color-button-primary-bg-hover);
        }
        img {
            width: 15px;
        }
    }
}
@media only screen and (max-width: 768px) {
    .container {
        padding: 0;
    }

    .section_heading {
        font-size: 24px;
        text-align: center;
    }

    .section_sub_heading {
        text-align: center;
        font-size: 14px;
        margin-top: 12px;
    }

    .slides_container {
        margin-top: 36px;

        .slides_wrapper {
            gap: 20px;
            width: 80%;
            margin: 0 auto;
        }
        .prev_button {
            left: -20px;
        }
        .next_button {
            right: -20px;
        }

        .prev_button,
        .next_button {
            z-index: 9999;
            width: 50px;
            height: 50px;
            img {
                width: 13px;
            }
        }
    }
}
