.container {
    min-height: auto;
    padding: 0 120px;
    display: flex;
    flex-direction: column;
}

.section_heading {
    color: var(--color-caption);
    font-size: 42px;
    font-family: 'Sorts Mill Goudy', serif;
}

.section_sub_heading {
    font-size: 16px;
    font-family: 'Work Sans';
    margin-top: 8px;
}

.slides_container {
    width: 100%;
    margin-top: 48px;

    .slides_wrapper {
        display: flex;
        gap: 40px;
        overflow-x: auto;
        &::-webkit-scrollbar {
            display: none;
        }
        img {
            width: 270px;
            height: 375px;
        }
    }
}
@media only screen and (max-width: 768px) {
    .container {
        padding: 0;
    }

    .section_heading {
        font-size: 24px;
        text-align: center;
    }

    .section_sub_heading {
        text-align: center;
        font-size: 14px;
        margin-top: 12px;
    }

    .slides_container {
        margin-top: 36px;

        .slides_wrapper {
            gap: 36px;
        }
    }
}
