.container {
    min-height: auto;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 36px;
    background-color: antiquewhite;
    padding: 25px 60px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.section_heading {
    font-family: 'Sorts Mill Goudy';
    text-align: center;
    font-size: 42px;
    color: var(--color-caption);
    font-weight: bold;
}

.course_slide_container {
    width: 100%;
    position: relative;

    button {
        display: flex;
        align-items: center;
        justify-content: center;

        &:hover > img {
            filter: brightness(0) invert(1) !important;
        }
    }
    button > img {
        width: 15px;
    }
    .prev_button {
        left: -50px;
    }
    .next_button {
        right: -50px;

        img {
            transform: rotate(180deg);
        }
    }

    .prev_button,
    .next_button {
        z-index: 11;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        width: 70px;
        height: 70px;
        background-color: var(--color-button-primary-bg);
        border-radius: var(--default-button-border-radius);
        border: 1px solid transparent;
        cursor: pointer;
        transition: 0.2s;
        border-color: var(--color-border-dark);
        color: var(--color-black);

        &:hover {
            background-color: var(--color-button-dark);
            color: var(--color-white);
        }
    }
}

.show_more_button {
    margin: auto;
    display: flex;
    justify-content: center;
    width: fit-content;
}

.course_slide_wrapper {
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: center;
    transition: transform 0.5s ease-in-out;
    will-change: transform;
}
@media only screen and (max-width: 768px) {
    .container {
        border-radius: 24px;
        padding: 60px 24px;
        gap: 24px;
    }

    .section_heading {
        font-size: 28px;
    }

    .course_slide_container {
        button > img {
            width: 13px;
        }
        .prev_button {
            left: -20px;
        }
        .next_button {
            right: -20px;
        }

        .prev_button,
        .next_button {
            z-index: 11;
            width: 50px;
            height: 50px;
        }
    }
}
