.input {
    padding: 16px 20px;
    flex: 1;
    border-radius: 100px;
    font-size: 16px;
    font-weight: 500;
    background-color: var(--color-card-bg-dark);
    border: 1px solid #cac3bc;
    color: #ffffff;

    &::placeholder {
        font-size: 10px;
        font-weight: 500;
        font-size: 16px;
        color: #b5afa8;
    }
}
