.container {
    border-radius: 24px;
    background-color: var(--color-gradient-bg);
    border: 1px solid transparent;
    border-color: var(--color-border-dark);
    cursor: pointer;
}

.thumbnail {
    width: 100%;
    object-fit: fill;
    border-radius: 24px 24px 0 0;
    position: relative;
    background-color: #ffebdd;
    height: 60%;
}
.content_container {
    padding: 24px 36px;
    /* gap: 24px; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 40%;
    .content {
        h2 {
            font-size: 27px;
            font-family: 'Sorts Mill Goudy';
            text-align: center;
            cursor: pointer;
            /* min-height: 81px; */
            &:hover {
                color: var(--color-caption);
            }
        }
        & > p {
            display: flex;
            font-family: 'Work Sans';
            font-size: 24px;
            color: var(--color-caption);
            font-weight: 600;
            align-items: center;
            gap: 12px;
            justify-content: center;

            span {
                text-decoration: line-through;
                font-size: 16px;
                font-weight: 400;
                color: #2c2520b2;
            }
        }
    }
}
@media only screen and (max-width: 768px) {
    .container {
        max-height: 650px;
    }
    .thumbnail {
        height: 65%;
    }
    .content_container {
        height: 35%;
        .content {
            h2 {
                font-size: 24px;
            }
        }
    }
}

@media only screen and (max-width: 576px) {
    .thumbnail {
        height: 70%;
    }
    .content_container {
        height: 30%;
        .content {
            h2 {
                font-size: 20px;
                -webkit-line-clamp: 1;
                line-clamp: 1;
            }
        }
    }
}
