.checkboxContainer {
    display: flex;
    align-items: center;
    gap: 8px;
    cursor: pointer;
    position: relative;
  }
  
  .checkboxInput {
    opacity: 0;
    position: absolute;
    width: 0;
    height: 0;
  }
  
  .checkboxIcon {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 24px;
    height: 24px;
    border: 2px solid #d1d5db; /* Light gray border */
    border-radius: 4px;
    background-color: #fff;
    transition: background-color 0.3s, border-color 0.3s;
  }
  
  .checkboxInput:checked ~ .checkboxIcon {
    /* border-color: #dd6b20; Orange border */
    /* background-color: #fff7e6; */
  }
  
  .checkmark {
    font-size: 16px;
    color: #dd6b20; /* Orange checkmark */
  }
  
  .checkboxLabel {
    font-size: 14px;
    color: #4a5568; /* Neutral text color */
  }
  
  .checkboxInput:disabled ~ .checkboxIcon {
    border-color: #cbd5e0; /* Disabled border color */
    background-color: #f1f5f9; /* Disabled background */
    cursor: not-allowed;
  }
  
  .checkboxInput:disabled ~ .checkboxLabel {
    color: #a0aec0; /* Disabled text color */
  }
  