.discover_cities_container {
    display: flex;
    flex-direction: column;
    gap: 48px;
}
.discover_heading {
    color: var(--color-caption);
    font-size: 42px;
    font-family: 'Sorts Mill Goudy';
}
.city_container {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;

    img {
        width: 144px;
        height: 144px;
    }
}

@media only screen and (max-width: 768px) {
    .discover_heading {
        font-size: 28px;
        text-align: center;
    }
    .city_container {
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
        justify-content: center;

        img {
            width: 103px;
            height: 103px;
        }
    }
}
