.contact_form_container {
    display: flex;
    flex-direction: column;
    gap: 24px;

    h3 {
        font-family: 'Sorts Mill Goudy';
        font-size: 27px;
        color: var(--color-caption);
    }

    .input_wrapper {
        border-radius: 36px;
        gap: 20px;
        display: flex;
        flex-direction: column;

        .input_container {
            flex: 1;
        }

        .input {
            background-color: #f3f3f3;
            color: var(--color-black);

            &:focus {
                outline-color: var(--color-primary);
            }
            &::placeholder {
                color: #b5afa8;
            }
        }

        select {
            padding: 16px 20px;
            width: 100%;
            border-radius: 100px;
            font-size: 16px;
            font-weight: 500;
            background-color: #f3f3f3;
            border: 1px solid #cac3bc;
            -moz-appearance: none;
            -webkit-appearance: none;
            appearance: none;
            &:focus {
                outline-color: var(--color-primary);
            }
            &::placeholder {
                color: #b5afa8;
            }
        }

        textarea {
            padding: 16px 20px;
            width: 100%;
            border-radius: 24px;
            height: 180px;
            font-size: 16px;
            font-weight: 500;
            min-height: 100px;
            resize: vertical;
        }

        .error {
            color: red;
            font-size: 12px;
            margin-top: 4px;
            margin-left: 12px;
        }
    }
    textarea {
        padding: 16px 20px;
        border-radius: 24px;
        height: 180px;
        font-size: 16px;
        font-weight: 500;
        background-color: var(--color-card-bg-dark);
        resize: none;
        border: 1px solid #cac3bc;
        color: #ffffff;

        &::placeholder {
            font-size: 10px;
            font-weight: 500;
            font-size: 16px;
            color: #b5afa8;
        }
    }
}
