.container {
    display: flex;
    flex-direction: column;
    min-height: auto;
    padding: 0 120px;
    gap: 48px;
}

.section_heading {
    font-family: 'Sorts Mill Goudy';
    font-size: 42px;
    color: var(--color-caption);
    text-align: center;
}
.gallery_grid {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;

    img {
        flex: 0 0 255px;
        height: 255px;
        border-radius: 24px;
        background-color: gray;
        object-fit: cover;
    }
}
@media only screen and (max-width: 768px) {
    .container {
        padding: 0;
        gap: 48px;
    }

    .section_heading {
        font-size: 28px;
    }
    .gallery_grid {
        display: flex;
        flex-wrap: wrap;
        row-gap: 60px;
        column-gap: 20px;

        img {
            flex: 0 0 342px;
            height: 342px;
        }
    }
}
