.container {
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
}
.hero_text_container {
    align-items: center;
    display: flex;
    flex: 1;
    justify-content: center;
    padding: 50px 120px 100px 120px;
}

.hero_text_wrapper {
    align-items: center;
    display: flex;
    flex-direction: column;
    width: 60%;

    p,
    h1 {
        color: var(--color-primary);
        text-align: center;
    }
    .main_text {
        font-weight: bold;
    }

    p:nth-child(1) {
        text-transform: uppercase;
        font-size: 22px;
        font-weight: 500;
    }

    h1 {
        font-size: 64px;
        margin-top: 24px;
        font-family: 'Sorts Mill Goudy', serif;
    }

    p:nth-child(3) {
        text-transform: uppercase;
        font-size: 16px;
        margin-top: 12px;
        font-weight: 500;
    }

    p:nth-child(4) {
        font-size: 18px;
        margin-top: 24px;
        font-family: 'Work Sans', serif;
        color: var(--color-white);
    }
    .book_appointment_button {
        margin-top: 24px;
        color: var(--color-black);
    }
}
@media only screen and (max-width: 768px) {
    .hero_text_container {
        align-items: center;
        justify-content: flex-start;
        padding: 0 24px;
    }

    .hero_text_wrapper {
        justify-content: flex-start;
        width: 100%;

        p:nth-child(1) {
            font-size: 16px;
        }

        h1 {
            font-size: 40px;
            margin-top: 20px;
        }

        p:nth-child(3) {
            font-size: 14px;
        }

        p:nth-child(4) {
            font-size: 16px;
            margin-top: 20px;
        }
    }
}
