.container {
    min-height: auto;
    border-radius: 36px;
    padding: 40px 60px;
    display: flex;
    flex-direction: column;
    gap: 48px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.section_heading {
    font-family: 'Sorts Mill Goudy';
    font-size: 42px;
    margin-top: 60px;
    text-align: center;
    color: var(--color-primary);
}

.testimonial_container {
    display: flex;
    gap: 30px;
}
@media only screen and (max-width: 768px) {
    .container {
        border-radius: 24px;
        padding: 24px;
    }

    .section_heading {
        font-family: 'Sorts Mill Goudy';
        font-size: 28px;
        margin-top: 50px;
    }

    .testimonial_container {
        display: flex;
        flex-direction: column;
        gap: 30px;
    }
}
