.container {
    height: 120px;
    position: relative;
    background: #00000025;
    .menu_icon {
        display: none;
    }
    .logo {
        position: absolute;
        top: 50%;
        left: 60px;
        transform: translateY(-50%);
        width: 110px;
    }
}
.info_n_action_button_container {
    display: flex;
    gap: 28px;
    position: absolute;
    top: 50%;
    right: 60px;
    transform: translateY(-50%);
}

.contact_label {
    display: flex;
    color: var(--color-white);
    align-items: center;
    gap: 12px;
    font-size: 20px;
    img {
        width: 18px;
    }
}

.action_button {
    display: flex;
    align-items: center;
    color: var(--color-primary);
    gap: 12px;
    cursor: pointer;
    font-size: 20px;
    img {
        width: 18px;
    }
}

@media only screen and (max-width: 768px) {
    .container {
        .menu_icon {
            display: block;
            position: absolute;
            top: 50%;
            left: 24px;
            transform: translateY(-50%);
            width: 24px;
            height: 24px;
        }
        .logo {
            left: 50%;
            transform: translate(-50%, -50%);
            width: 90px;
        }
    }
    .info_n_action_button_container {
        display: flex;
        gap: 28px;
        right: 24px;
    }

    .contact_label {
        display: none;
    }

    .action_button {
        display: flex;
        align-items: center;
        color: var(--color-primary);
        gap: 12px;
        cursor: pointer;

        img {
            width: 18px;
        }
    }
}
