.container {
    display: flex;
    gap: 80px;
}
.poster {
    flex: 1;
    background-color: red;
    max-width: 420px;
    aspect-ratio: 420/625;
    border-radius: 24px;
    object-fit: cover;
}
.price_detail_container {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.tag {
    padding: 8px 16px;
    background-color: var(--color-caption);
    border-radius: 40px;
    align-self: flex-start;
    color: var(--color-white);
    font-weight: 500;
    font-size: 10px;
}

.title {
    font-family: 'Sorts Mill Goudy';
    font-size: 36px;
    color: var(--color-caption);
}
.price {
    display: flex;
    gap: 12px;
    color: var(--color-caption);
    font-size: 24px;
    font-weight: 600;
    align-items: center;

    span {
        color: #2c2520b2;
        font-size: 16px;
        text-decoration: line-through;
    }
}
.info_container {
    display: flex;
    flex-direction: column;
    gap: 20px;

    p {
        font-size: 16px;
        line-height: 24px;

        span {
            font-weight: 600;
        }
    }
}

@media only screen and (max-width: 768px) {
    .container {
        display: flex;
        gap: 80px;
        flex-direction: column;
    }
    .poster {
        flex: none;
        width: 100%;
        max-width: 420px;
        align-self: center;
    }
    .price_detail_container {
        display: flex;
        flex-direction: column;
        gap: 24px;
    }

    .title {
        font-size: 28px;
    }
}
