.container {
}
.header {
    background-color: #5c5c5c;
    min-height: auto !important;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.header_text_container {
    align-items: center;
    display: flex;
    flex: 1;
    padding: 120px;
    justify-content: center;
}

.header_text_wrapper {
    align-items: center;
    display: flex;
    flex-direction: column;

    h3 {
        font-size: 45px;
        margin-top: 24px;
        color: var(--color-primary);
        font-family: 'Sorts Mill Goudy', serif;
    }

    p {
        font-size: 16px;
        font-weight: 500;
        text-transform: uppercase;
        color: var(--color-white);
        display: flex;
        gap: 4px;
        align-items: center;
        justify-content: center;

        span {
            display: flex;
        }

        img {
            width: 24px;
            height: 24px;
            align-self: center;
            transform: rotate(270deg);
        }
    }
}
.filter_container {
    width: 100%;
    display: flex;
    padding: 72px 60px 0 60px;
    .filter_item_wrapper {
        flex: 1;
        display: flex;
        align-items: center;

        &:nth-child(1) > div {
            background-color: #f9eae0;
            border-radius: 40px;
            border: 1px solid #5c4228;
            padding: 16px 24px;
            display: flex;
            align-items: center;
            gap: 12px;
            img {
                width: 24px;
                height: 24px;
            }
            input {
                background-color: transparent;
                border: none;
                outline: none !important;
                font-size: 16px;
            }
        }
        &:nth-child(2) {
            justify-content: center;
            p {
                font-size: 20px;
                text-align: center;
                font-weight: 500;
            }
        }
        &:nth-child(3) {
            justify-content: flex-end;
            & > div {
                background-color: #f9eae0;
                border-radius: 40px;
                border: 1px solid #5c4228;
                padding: 16px 24px;
                display: flex;
                gap: 12px;
                position: relative;
                .filter_dropdown {
                    position: absolute;
                    top: 100%;
                    right: 0;
                    z-index: 9999;
                    border-radius: 24px;
                    background-color: #ffd5b7;
                    display: flex;
                    flex-direction: column;
                    padding: 20px;
                    gap: 10px;
                    p {
                        cursor: pointer;
                    }
                }
            }
        }
    }
}
.list_container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    padding: 72px 60px;
    justify-content: center;
    gap: 30px;
}
.course_card {
    width: 320px;
}
.page_number_container {
    display: flex;
    gap: 16px;
    align-items: center;
    justify-content: center;
    p {
        width: 40px;
        height: 40px;
        line-height: 40px;
        text-align: center;
        border-radius: 20px;
        font-weight: 500;
        font-size: 14px;
        cursor: pointer;
    }
}

@media only screen and (max-width: 768px) {
    .header_text_container {
        padding: 50px;
    }

    .list_container {
        padding: 60px 24px;
    }
    .course_card {
        width: 100%;
        max-width: 420px;
    }
    .filter_container{
        flex-direction: column;
        gap: 10px;
        align-items: center;
    }
}
