.container {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.container::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100vh;
    backdrop-filter: blur(300px);
}
.wrapper {
    height: 80%;
    border-radius: 20px !important;
    overflow: hidden;
}
.stories_container {
    border-radius: 20px;
}
.story_content_container {
    background-color: #ffffff;
    width: 100%;
    height: 100%;
    position: relative;
    .story_media {
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
    }
    .story_play_pause_button {
        width: 44px;
        height: 44px;
        position: absolute;
        top: 15px;
        right: 15px;
        z-index: 99;
    }
    .story_text_container {
        width: 100%;
        height: 50%;
        position: absolute;
        top: 50%;
        left: 0;
        padding: 40px 20px;
        background: linear-gradient(
            to bottom,
            #ffffff00,
            #ffffff,
            #ffffff,
            #ffffff,
            #ffffff,
            #ffffff,
            #ffffff,
            #ffffff,
            #ffffff,
            #ffffff,
            #ffffff,
            #ffffff
        );

        h2 {
            font-size: 28px;
        }
        p {
            font-size: 24px;
            font-weight: 500;
            letter-spacing: 0;
        }
    }
}
